<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926840923325-kknjp2ck36at90r4r9mupmcjdcjt4i72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926840923325-kknjp2ck36at90r4r9mupmcjdcjt4i72</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>926840923325-64csqfcj4kf9dfsoq84thr8re0qnlstk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5liGd4n65y0OgSnzCvKHW3u7xaAOiUWs</string>
	<key>GCM_SENDER_ID</key>
	<string>926840923325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartChat</string>
	<key>PROJECT_ID</key>
	<string>smartchat-ba3ae</string>
	<key>STORAGE_BUCKET</key>
	<string>smartchat-ba3ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926840923325:ios:80cb4c7959e03b3b2c83d4</string>
</dict>
</plist>